<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DaD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lin.dao.ChallengeResultMapper" >
	<resultMap id="ChallengeResultResultMap" type="com.lin.dao.ChallengeResultDao" >
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="score" property="score" jdbcType="INTEGER" />
		<result column="challenge_time" property="challengeTime" jdbcType="DATE" />
		<result column="username" property="username" jdbcType="VARCHAR" />
	</resultMap>
</mapper>