<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DaD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lin.dao.CommunityMapper" >
	<resultMap id="CommunityResultMap" type="com.lin.dao.CommunityDao" >
		<result column="com_id" property="comId" jdbcType="INTEGER" />
		<result column="com_name" property="comName" jdbcType="VARCHAR" />
		<result column="com_place" property="comPlace" jdbcType="VARCHAR" />
		<result column="com_admin" property="comAdmin" jdbcType="INTEGER" />
		<result column="com_phone" property="comPhone" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="DATE" />
		<result column="update_time" property="updateTime" jdbcType="DATE" />
	</resultMap>
</mapper>