<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DaD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lin.dao.GarbageProcessingInfoMapper" >
	<resultMap id="GarbageProcessingInfoResultMap" type="com.lin.dao.GarbageProcessingInfoDao" >
		<result column="gp_id" property="gpId" jdbcType="INTEGER" />
		<result column="gp_comunity" property="gpComunity" jdbcType="VARCHAR" />
		<result column="gp_site" property="gpSite" jdbcType="VARCHAR" />
		<result column="gp_day" property="gpDay" jdbcType="DATE" />
		<result column="gp_total" property="gpTotal" jdbcType="DOUBLE" />
		<result column="gp_gs_id" property="gpGsId" jdbcType="INTEGER" />
	</resultMap>
</mapper>