<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.garbagesorting.mapper.UserMapper">

    <insert id="insertTenant" >
                insert into tenant set tenant_username=#{username}
    </insert>

    <insert id="insertOOffice" >
        insert into tenant set of_username =#{username}
    </insert>

</mapper>
